.parentDiv{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    border: 2px solid black;
    background-color:cornflowerblue;
}
.parentDiv h1{
    cursor: pointer;
    text-decoration: underline;
    /* border: 1px solid black; */
}